<settings>

  <common>
    <folder>D:/VIDEOPLATFORM_REC</folder>
  </common>

  <channels>
    <channel id="NAVI">
      <enabled>1</enabled>
      <serial>COM13</serial>
      <baud_rate>9600</baud_rate>
      <message>GGA</message>
    </channel>

    <channel id="DEPTH">
      <enabled>1</enabled>
      <serial>COM4</serial>
      <baud_rate>9600</baud_rate>
      <message>DBS</message>
    </channel>

    <channel id="ALT">
      <enabled>1</enabled>
      <serial>COM3</serial>
      <baud_rate>57600</baud_rate>
      <message>DBT</message>
    </channel>

    <channel id="TEMP">
      <enabled>1</enabled>
      <serial>COM3</serial>
      <baud_rate>9600</baud_rate>
      <message>MTW</message>
    </channel>
    
    <channel id="INCLIN">
      <enabled>1</enabled>
      <serial>COM6</serial>
      <baud_rate>9600</baud_rate>
      <message>\x68\x04\x00\x04\x08</message>
    </channel>

  </channels>

  <IP_camera>
    <URL>http://192.168.0.31</URL>
    <login>admin</login>
    <password>admin</password>
  </IP_camera>

</settings>